In [32]:
from itertools import product
import pandas as pd

In [35]:
df = pd.read_csv('gapminder_clean.csv')
df.head()

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
0,0,Afghanistan,1962,NaN,0.073781,21.276422,NaN,NaN,4.878051,7.450,NaN,9.349593,NaN,NaN,33.219902,14.312061,NaN,10267083.0,Asia,853.100710
1,1,Afghanistan,1967,NaN,0.123782,9.917662,NaN,NaN,6.772908,7.450,NaN,14.209827,NaN,NaN,35.389415,15.881812,NaN,11537966.0,Asia,836.197138
2,2,Afghanistan,1972,NaN,0.130820,18.880833,NaN,NaN,14.763231,7.450,NaN,18.105850,NaN,NaN,37.610146,17.947027,NaN,13079460.0,Asia,739.981106
3,3,Afghanistan,1977,NaN,0.183118,13.836822,NaN,NaN,11.662904,7.449,NaN,14.823175,NaN,NaN,40.110146,19.998926,NaN,14880372.0,Asia,786.113360
4,4,Afghanistan,1982,NaN,0.165879,NaN,NaN,NaN,NaN,7.450,NaN,NaN,NaN,NaN,43.230732,19.402324,NaN,12881816.0,Asia,978.011439

In [46]:
test = {
    'continent':"Asia",
    'co2_gt': 1,
    'fertility_st':1.9  
}

In [53]:
subsets = []
subset_df = df.copy()
for key, value in test.items():
    if len(key.split("_")) > 1:
        key = key.split("_")       
        col = translation[key[0]]
        if key[1] == 'gt':
            subset = df[col] > value
        else:
            classifier = '<'
            subset = df[col] < value
    else:
        col = translation[key] 
        classifier = None
        subset = df[col] == value
    subsets.append(subset)
    subset_df = subset_df[subset]
    
subset_df['Country Name'].unique()

<ipython-input-53-6d64eb102469>:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  subset_df = subset_df[subset]

array(['China', 'Japan', 'Lebanon', 'Singapore', 'Thailand'], dtype=object)

In [21]:
columns = ['Year',
       'Agriculture, value added (% of GDP)',
       'CO2 emissions (metric tons per capita)',
       'Domestic credit provided by financial sector (% of GDP)',
       'Electric power consumption (kWh per capita)',
       'Energy use (kg of oil equivalent per capita)',
       'Exports of goods and services (% of GDP)',
       'Fertility rate, total (births per woman)', 
       'GDP growth (annual %)',
       'Imports of goods and services (% of GDP)',
       'Industry, value added (% of GDP)',
       'Inflation, GDP deflator (annual %)',
       'Life expectancy at birth, total (years)',
       'Population density (people per sq. km of land area)',
       'Services, etc., value added (% of GDP)', 'pop', 'continent',
       'gdpPercap']

In [22]:
abbrev = ['year',
       'agri',
       'co2',
       'domCred',
       'electric',
       'energy',
       'exp',
       'fertility',
       'gdp',
       'impo',
       'industry',
       'infl',
       'lifeExp',
       'popDense',
       'service', 
       'pop', 
       'continent',
       'gdpPercap']

In [23]:
classifiers = ['_gt', '_st']

In [24]:
url_params = [a + b for a, b in product(abbrev, classifiers)]

In [25]:
url_params.extend(abbrev)

In [26]:
url_params

['year_gt',
 'year_st',
 'agri_gt',
 'agri_st',
 'co2_gt',
 'co2_st',
 'domCred_gt',
 'domCred_st',
 'electric_gt',
 'electric_st',
 'energy_gt',
 'energy_st',
 'exp_gt',
 'exp_st',
 'fertility_gt',
 'fertility_st',
 'gdp_gt',
 'gdp_st',
 'impo_gt',
 'impo_st',
 'industry_gt',
 'industry_st',
 'infl_gt',
 'infl_st',
 'lifeExp_gt',
 'lifeExp_st',
 'popDense_gt',
 'popDense_st',
 'service_gt',
 'service_st',
 'pop_gt',
 'pop_st',
 'continent_gt',
 'continent_st',
 'gdpPercap_gt',
 'gdpPercap_st',
 'year',
 'agri',
 'co2',
 'domCred',
 'electric',
 'energy',
 'exp',
 'fertility',
 'gdp',
 'impo',
 'industry',
 'infl',
 'lifeExp',
 'popDense',
 'service',
 'pop',
 'continent',
 'gdpPercap']

In [27]:
translation = {a:b for a, b in zip(abbrev, columns)}

In [28]:
translation

{'year': 'Year',
 'agri': 'Agriculture, value added (% of GDP)',
 'co2': 'CO2 emissions (metric tons per capita)',
 'domCred': 'Domestic credit provided by financial sector (% of GDP)',
 'electric': 'Electric power consumption (kWh per capita)',
 'energy': 'Energy use (kg of oil equivalent per capita)',
 'exp': 'Exports of goods and services (% of GDP)',
 'fertility': 'Fertility rate, total (births per woman)',
 'gdp': 'GDP growth (annual %)',
 'impo': 'Imports of goods and services (% of GDP)',
 'industry': 'Industry, value added (% of GDP)',
 'infl': 'Inflation, GDP deflator (annual %)',
 'lifeExp': 'Life expectancy at birth, total (years)',
 'popDense': 'Population density (people per sq. km of land area)',
 'service': 'Services, etc., value added (% of GDP)',
 'pop': 'pop',
 'continent': 'continent',
 'gdpPercap': 'gdpPercap'}

In [31]:
'energy_gt'.split("_")

['energy', 'gt']